<a ui-sref="home">Home</a> &lt; <a ui-sref="categories">Categories</a> &lt; <span>{{itemsList.category}}</span>

<h2>{{itemsList.items.data.category.name}}</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <tr ng-repeat="item in itemsList.items.data.menu_items">
    <td>{{item.name}}</td>
    <td>
      {{item.small_portion_name}} {{item.price_small}}
      {{item.large_portion_name}} {{item.price_large}}
    </td>
    <td>{{item.description}}</td>
  </tr>
</table>
